body{
	background: linear-gradient(to right, red,green);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-style: italic;
	color: rgb(0,0.3,0,0.7);
	top: 20%;
	display flex: 

}
h1{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 20px;
	font-style: italic;
	width: 100;
}